html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242424;
  color: #fff;
  scroll-behavior: smooth;
}

#style-6::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#style-6::-webkit-scrollbar-thumb {
  background-color: #00b7ff;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../asset/login_gif.gif") no-repeat center center fixed;
  background-size: cover;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 40vh;
  border-radius: 4%;
}

.login input {
  margin: 15px;
  outline: none;
}

input:focus {
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
}

.login input[type=text] {
  font-size: 20px;
  border-radius: 10px;
  padding-left: 7px;
}

button {
  width: 70px;
  height: 35px;
  border-radius: 5px;
  background-color: #183468;
  color: #fff;
  border: 0;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

.none {
  display: none;
}

.chat-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.user-online {
  -webkit-box-flex: .75;
      -ms-flex: .75;
          flex: .75;
  background: url("../asset/geometric-background.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-online h2 {
  font-size: 2em;
  font-family: cursive;
  text-shadow: 0px 0px 10px #fff;
}

.user-online ul {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style: none;
  font-size: 1.6em;
  margin-bottom: 10px;
}

.user-chat {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: url("../asset/chat-bg.jpg") no-repeat center;
  background-size: cover;
}

.user-chat .bk-msg {
  width: 100%;
  height: 85vh;
  overflow: auto;
}

.user-chat .bk-msg ul {
  padding: 0;
  list-style: none;
  font-size: 1.4em;
}

.user-chat .bk-msg ul li {
  padding: 10px;
  border: 1px solid #fff;
  margin-bottom: 2px;
  border-radius: 20px;
}

.user-chat .bk-msg ul li embed {
  max-width: 80%;
  max-height: 50%;
}

.user-chat .bk-msg ul li:nth-child(even) {
  background: rgba(0, 0, 0, 0.8);
}

.user-chat .bk-msg ul li:nth-child(odd) {
  background: rgba(0, 0, 0, 0.2);
}

.user-chat .bk-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 12vh;
}

.user-chat .bk-input input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 10vh;
  font-size: 1.5em;
  border-radius: 15px;
  outline: none;
  padding-left: 5px;
}

.user-chat .bk-input button {
  height: 10vh;
  border-radius: 15px;
  background-color: #005f8b;
  font-size: 1.2em;
  cursor: pointer;
}

.user-chat .bk-input button:hover {
  background-color: rgba(0, 95, 139, 0.541);
}

.user-chat .bk-input .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.user-chat .bk-input .btn {
  border: 2px solid #353030;
  color: white;
  background-color: #005f8b;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
}

.user-chat .bk-input .upload-btn-wrapper input[type=file] {
  font-size: 1em;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

#upload-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 10%;
  padding: 10px;
  margin-top: 10px;
  background-color: #18aaff;
  color: azure;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

@media screen and (max-width: 786px) {
  .chat-container {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #upload-container {
    width: 70%;
    height: 20%;
  }
}
/*# sourceMappingURL=index.css.map */